// Bootstrap functions
@import "../../../node_modules/bootstrap/scss/functions";

@import "_variables.scss";
@import "_utilities.scss";

@import "../../../node_modules/bootstrap/scss/bootstrap";



@import "_navbar.scss";
@import "_nav.scss";
@import "_dropdown.scss";
@import "_card.scss";
@import "_form.scss";
@import "_docs.scss";
@import "_navbar-vertical.scss";

// btn icon
.btn-icon {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.92969rem;
  font-weight: 400;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.btn-icon.btn-xs {
  font-size: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
}

.btn-icon.btn-sm {
  font-size: 0.875rem;
  width: 2.1875rem;
  height: 2.1875rem;
}

.btn-icon.btn-lg {
  font-size: 1rem;
  width: 3.36875rem;
  height: 3.36875rem;
}

// btn ghost

@each $color, $value in $theme-colors {
  .btn-ghost-#{$color} {
    color: $value;
    background-color: transparent;
    &:hover {
      background-color: rgba($value, 0.125);
      color: $value;
    }
    &:focus {
      background-color: rgba($value, 0.125);
      color: $value;
    }
    &.active {
      background-color: rgba($value, 0.125);
      color: $value;
    }
  }
}

// btn soft

@each $color, $value in $theme-colors {
  .btn-soft-#{$color} {
    color: $value;
    background-color: rgba($value, 0.125);
    &:hover {
      background-color: $value;
      color: color-contrast(darken($value, 0.15));
    }
    &.active {
      background-color: $value;
      color: color-contrast(darken($value, 0.15));
    }
    &:focus {
      background-color: $value;
      color: color-contrast(darken($value, 0.15));
    }
  }
}

// btn transition

.btn-transition {
  -webkit-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
  i {
    margin-left: 5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-size: 10px;
  }
  &:hover i {
    margin-left: 10px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
}

// password

#passwordToggler {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: $dark;
}

// Body

body {
  -webkit-font-smoothing: antialiased;
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  letter-spacing: -0.03rem;
}

// footer

.footer-top-border {
  border-top: 2px solid $primary-500;
  margin-bottom: 10px;
  margin-top: 80px;
}

.footer {
  margin-top: 10px;
  padding: 4rem 0;
  background: $primary-200;

  .nav {
    .nav-item {
      .nav-link {
        color: var(--#{$prefix}gray-600);
        padding: 0;
        &:hover {
          color: var(--#{$prefix}primary);
        }
      }
    }
  }
  .social-links {
    color: var(--#{$prefix}gray-600);

    &:hover {
      color: var(--#{$prefix}primary);
    }
  }
}

.btn-social {
  color: var(--#{$prefix}gray-500);
  border: 1px solid var(--#{$prefix}gray-500);
  border-radius: 0.5rem;
  &:hover {
    color: var(--#{$prefix}primary);
    border: 1px solid var(--#{$prefix}primary);
  }
}

// Avatar

.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

// Avatar Size

.avatar-xs {
  width: $avatar-size-xs;
  height: $avatar-size-xs;
}
.avatar-sm {
  width: $avatar-size-sm;
  height: $avatar-size-sm;
}
.avatar-md {
  width: $avatar-size-md;
  height: $avatar-size-md;
}

.avatar-lg {
  width: $avatar-size-lg;
  height: $avatar-size-lg;
}
.avatar-xl {
  width: $avatar-size-xl;
  height: $avatar-size-xl;
}

.avatar-xxl {
  width: $avatar-size-xxl;
  height: $avatar-size-xxl;
}

// hero

// hero slider
.hero-slider {
  position: relative;
  .slick-slide {
    margin-right: 0rem !important;
  }
  .slick-dots {
    position: absolute;
    bottom: 24px;
    display: block;

    li {
      margin: 0rem;
      button {
        &::before {
          font-size: 0.5rem;
          color: var(--#{$prefix}gray-800);
        }
      }
    }
  }
}

// Offcanvac

@media (min-width: 992px) {
  .offcanvas-collapse {
    display: block;
    position: static;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    width: 100% !important;
    height: auto !important;
    transform: none !important;
    background-color: transparent;
    visibility: visible;
  }
}

//
// Extend from bootstrap
//

// Table
table tr:last-child td {
  border-bottom-width: 0px;
}

// Table centered
.table-centered td,
.table-centered th {
  vertical-align: middle !important;
}

// Table with Checkbox
.table-with-checkbox > tbody > tr > td:first-child,
.table-with-checkbox > thead > tr > th:first-child {
  width: 1px;
  padding-right: 0px;
}

// paginations

.page-item:first-child .page-link {
  margin-right: $pagination-margin-x-first-last;
}
.page-item {
  &:not(:first-child) .page-link {
    margin-left: $pagination-margin-start;
    margin-right: $pagination-margin-x-first-last;
  }
  @if $pagination-margin-start == (calc($pagination-border-width * -1)) {
    &:first-child {
      .page-link {
        @include border-start-radius(var(--#{$prefix}pagination-border-radius));
      }
    }

    &:last-child {
      .page-link {
        @include border-end-radius(var(--#{$prefix}pagination-border-radius));
      }
    }
  } @else {
    // Add border-radius to all pageLinks in case they have left margin
    .page-link {
      @include border-radius(var(--#{$prefix}pagination-border-radius));
    }
  }
}

.products {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-flow: row;
}

.product-details-page {
  .product-image {
    height: 600px;
    background-size: cover;
    background-position: center;
  }
  .mapBox {
    height: 300px;
  }
}


.contentPage-section {
  margin-left: 280px;
  height: calc(100vh) !important;
  max-height: calc(100vh) !important;
  overflow: scroll;
  position: fixed;
  border-left: 1px solid $dark;
  border-top: 1px solid $dark;
  width: calc(100% - 280px);
}

.contentPage-row {
  border-left: 20px solid white;
  border-top: 20px solid white;
  min-height: 100%;
  background: url(../images/section-bg.jpg) no-repeat right top, #EAEFF3;
  background-size: 35%;
}

.card-product-img {
  background-size: cover;
  width: 100%;
  height: 240px;
  max-height: 60%;
  min-width: 60%;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
      display: block !important;
  }
}

.form-control:focus {
  color: $orange !important;
  background-color: #fff;
  border-color:  $primary-500 !important;
  border-width: 1px !important;
  outline: 1px solid $primary-500 !important;
  outline: 0;
  box-shadow: none !important;
}

@media (min-width: 992px) {
  .desktop-links {
    display: flex !important;
  }
}


.navbar-collapse .navbar-nav {
      flex-direction: column !important;
  }




.navbar-toggler-icon {
  filter: invert(47%) sepia(76%) saturate(360%) hue-rotate(93deg) brightness(87%) contrast(80%);
}

// vendor classes
@import "vendor/slick-slider/_slick-slider.scss";
@import "vendor/nouislider/_nouislider.scss";
@import "vendor/prism/_prism.scss";
@import "vendor/dropzone/_dropzone.scss";
@import "vendor/tns-slider/_tns-slider.scss";
@import "vendor/flatpickr/_flatpickr.scss";
@import "vendor/quill/_quill-snow.scss";
@import "vendor/apexChart/_apexchart.scss";
